<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>883359786518-7ubcam9bi1hj8sfeve241c3j4qdsd05m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.883359786518-7ubcam9bi1hj8sfeve241c3j4qdsd05m</string>
	<key>API_KEY</key>
	<string>AIzaSyBSCMsa3lpO1ocdG1rXsBrkd7hQBww-SZ4</string>
	<key>GCM_SENDER_ID</key>
	<string>883359786518</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.oref</string>
	<key>PROJECT_ID</key>
	<string>oref-7bd95</string>
	<key>STORAGE_BUCKET</key>
	<string>oref-7bd95.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:883359786518:ios:980c203c7c316555</string>
	<key>DATABASE_URL</key>
	<string>https://oref-7bd95.firebaseio.com</string>
</dict>
</plist>